.h1_prueba {
  text-align: center;
  background-color: #09254e;
  color: #fffffe;
  padding: 20px; }

.nav_ul {
  font-family: "Roboto", sans-serif;
  background-color: #09254e;
  width: 100%;
  list-style-type: none;
  text-align: center; }
